<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title th:text="ISAT">ISAT</title>
</head>
<body>
    <div class="ui menu" th:fragment="navbar">
        <a th:href="@{/}" class="item">Home</a>
        <div class="ui dropdown item">
            Perguntas
            <i class="dropdown icon"></i>
            <div class="menu">
                <a th:href="@{/question/add}" class="item">Cadastrar</a>
                <a th:href="@{/question}" class="item">Listar</a>
            </div>
        </div>
        <div class="ui dropdown item">
            Pesquisas
            <i class="dropdown icon"></i>
            <div class="menu">
                <a th:href="@{/survey/add}" class="item">Cadastrar</a>
                <a th:href="@{/survey}" class="item">Listar</a>
            </div>
        </div>
        <div class="right menu">
            <form id="logout" th:action="@{/logout}" method="post">
                <a href="#" class="ui item" th:text="#{button.logout}" onclick="document.getElementById('logout').submit()">Logout</a>
            </form>
        </div>
    </div>
</body>
</html>
