<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/Semantic-UI/2.2.10/semantic.css}"/>

    <title th:text="ISAT">ISAT</title>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            margin-top: 7em;
        }
    </style>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" th:src="@{/images/logo.png}" />
                ISAT
            </a>
        </div>
    </div>

    <div class="ui main container">
        <h1 class="ui header">Pesquisa de Satisfação</h1>
        <div class="ui cards">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header" th:text="${form.student.name}">
                        Nome
                    </div>
                    <div class="meta" th:text="${form.student.email}">
                        E-mail
                    </div>
                    <div class="description">
                        <p th:inline="text"><strong>Turma:</strong> [[${form.clazz.name}]]</p>
                        <!--<p th:inline="text"><strong>Módulo:</strong> [[${form.clazz.module.name}]]</p>-->
                        <!--<p th:inline="text"><strong>Professor:</strong> [[${form.clazz.teacher.name}]]</p>-->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <form th:action="@{/form}" th:method="post" th:object="${form}" class="ui form">
            <div class="ui error message"></div>
            <div class="field">
                <input th:field="*{code}" type="hidden"/>
            </div>
            <div class="field" th:each="question,iter: ${form.survey.questions}">
                <label th:for="answers" th:text="${question.description}"></label>
                <div class="inline fields">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{answers[__${iter.index}__].rate}" th:value="5" />
                            <label>Concordo totalmente</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{answers[__${iter.index}__].rate}" th:value="4" />
                            <label>Concordo</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{answers[__${iter.index}__].rate}" th:value="3" />
                            <label>Não concordo nem discordo</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{answers[__${iter.index}__].rate}" th:value="2" />
                            <label>Discordo</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{answers[__${iter.index}__].rate}" th:value="1" />
                            <label>Discordo totalmente</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{answers[__${iter.index}__].rate}" th:value="0" />
                            <label>Não sei avaliar</label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui button" type="submit" th:text="Enviar"/>
        </form>
    </div>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/Semantic-UI/2.2.10/semantic.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>
