<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>ISAT</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 th:text="#{message.hello(${#httpServletRequest.remoteUser})}">Olá, Visitante!</h1>

    </div>
</body>
</html>
