<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>ISAT</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 class="ui header" th:text="#{question.title}">Pergunta</h1>
        <br/>
        <form th:action="@{/question/save}" th:method="post" th:object="${question}" class="ui form">
            <div class="ui error message"></div>
            <div class="field">
                <input th:field="*{id}" type="hidden"/>
            </div>
            <div class="field">
                <label th:for="description" th:text="#{question.description}">Descrição</label>
                <input th:field="*{description}" type="text" placeholder="Descrição"/>
            </div>
            <div class="field">
                <label th:for="categories" th:text="#{question.categories}"></label>
                <select th:field="*{categories}" multiple="" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="category: ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <button class="ui button" type="submit" th:text="#{question.submit}" />
        </form>
    </div>
</body>
</html>
