<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>ISAT</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 class="ui header" th:text="#{question.title}">Pergunta</h1>
        <br/>
        <table class="ui celled table" th:if="${not #lists.isEmpty(questionList)}">
            <thead>
                <tr>
                    <th th:text="#{question.description}">Descrição</th>
                    <th th:text="#{question.categories}">Categorias</th>
                    <th th:text="#{question.edit}">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="question: ${questionList}">
                    <td th:text="${question.description}"></td>
                    <td>
                        <a th:each="category : ${question.categories}" class="ui tag label" th:text="${category.name}" th:classappend="${category.color.name}"></a>
                    </td>
                    <td class="selectable">
                        <a th:href="@{'/question/edit/' + ${question.id}}" th:text="#{question.edit}"></a>
                    </td>
                </tr>
            </tbody>
            <!--<tfoot>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--<div class="ui right floated pagination menu">-->
                            <!--<a class="icon item">-->
                                <!--<i class="left chevron icon"></i>-->
                            <!--</a>-->
                            <!--<a class="item">1</a>-->
                            <!--<a class="item">2</a>-->
                            <!--<a class="item">3</a>-->
                            <!--<a class="item">4</a>-->
                            <!--<a class="icon item">-->
                                <!--<i class="right chevron icon"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</th>-->
                <!--</tr>-->
            <!--</tfoot>-->
        </table>
        <h4 class="ui header" th:unless="${not #lists.isEmpty(questionList)}" th:text="question.empty-list">Não há pesquisas cadastradas no momento!</h4>
    </div>
</body>
</html>
