<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>ISAT</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 class="ui header" th:text="#{survey.title}">Pesquisa</h1>
        <br/>
        <table class="ui celled table" th:if="${not #lists.isEmpty(surveyList)}">
            <thead>
                <tr>
                    <th th:text="#{survey.name}">Name</th>
                    <th th:text="#{survey.start-date}">Data de Início</th>
                    <th th:text="#{survey.end-date}">Data de Término</th>
                    <th th:text="#{question.edit}">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="survey: ${surveyList}" th:classappend="${#dates.createNow() ge survey.endDate} ? 'disabled'">
                    <td th:text="${survey.name}"></td>
                    <td th:text="${survey.startDate} ? ${#dates.format(survey.startDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${survey.endDate} ? ${#dates.format(survey.endDate, 'dd/MM/yyyy')}"></td>
                    <td class="selectable">
                        <a th:href="@{'/survey/edit/' + ${survey.id}}" th:text="#{survey.edit}"></a>
                    </td>
                </tr>
            </tbody>
            <!--<tfoot>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--<div class="ui right floated pagination menu">-->
                            <!--<a class="icon item">-->
                                <!--<i class="left chevron icon"></i>-->
                            <!--</a>-->
                            <!--<a class="item">1</a>-->
                            <!--<a class="item">2</a>-->
                            <!--<a class="item">3</a>-->
                            <!--<a class="item">4</a>-->
                            <!--<a class="icon item">-->
                                <!--<i class="right chevron icon"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</th>-->
                <!--</tr>-->
            <!--</tfoot>-->
        </table>
        <h4 class="ui header" th:unless="${not #lists.isEmpty(surveyList)}" th:text="survey.empty-list">Não há pesquisas cadastradas no momento!</h4>
    </div>
</body>
</html>
