<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>ISAT</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 class="ui header" th:text="#{survey.title}">Pesquisa</h1>
        <br/>
        <form th:action="@{/survey/save}" th:method="post" th:object="${survey}" class="ui form">
            <div class="ui error message"></div>
            <div class="field">
                <input th:field="*{id}" type="hidden"/>
            </div>
            <div class="field">
                <label th:for="name" th:text="#{survey.name}">Nome</label>
                <input th:field="*{name}" type="text" placeholder="Nome"/>
            </div>
            <div class="field">
                <label th:for="startDate" th:text="#{survey.start-date}">Data de Início</label>
                <input th:field="*{startDate}" type="text" placeholder="dd/mm/yyyy"/>
            </div>
            <div class="field">
                <label th:for="endDate" th:text="#{survey.end-date}">Data de Término</label>
                <input th:field="*{endDate}" type="text" placeholder="dd/mm/yyyy"/>
            </div>
            <div class="field">
                <label th:for="categories" th:text="#{survey.categories}"></label>
                <select th:field="*{categories}" multiple="" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="category: ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <div class="field">
                <label th:for="questions" th:text="#{survey.questions}"></label>
                <select th:field="*{questions}" multiple="" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="question: ${questionList}" th:value="${question.id}" th:text="${question.description}"></option>
                </select>
            </div>
            <div class="field">
                <label th:for="classes" th:text="#{survey.classes}"></label>
                <select th:field="*{classes}"  multiple="" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="clazz: ${classList}" th:value="${clazz.id}" th:text="${clazz.name}"></option>
                </select>
            </div>
            <button class="ui button" type="submit" th:text="#{survey.submit}" />
        </form>
    </div>
</body>
</html>
