<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/Semantic-UI/2.2.10/semantic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>

    <title th:text="ISAT">ISAT</title>
</head>
<body>
    <div class="ui container">
        <div th:replace="fragments/navbar :: navbar">
            <!-- Navbar is inserted here -->
        </div>
        <div layout:fragment="content">
            <!-- Page content is inserted here -->
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/webjars/Semantic-UI/2.2.10/semantic.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>
