<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <p th:inline="text">[[${name}]],</p>
    <p>Estamos chegando ao término do seu curso em nossa instituição, e para que possamos sempre melhorar em todos os aspectos, gostaríamos que você pudesse nos responder algumas perguntas sobre sua estadia, seu aprendizado e suas opiniões sobre nós. Por favor, preencha essa avaliação com toda atenção. Ela é muito importante para a melhoria contínua de seu curso. É através das avaliações que poderemos construir um curso cada vez melhor, o que é importante para você agora e para o valor de seu diploma no futuro.</p>
    <a th:href="${link}" th:text="${link}"></a>
</body>
</html>
